body {
  background-image: url(/img/bia3.jpg);
  height: 90vh;
  /* width: 100vh; */
  background-position: center;
  background-size: cover;
  /* padding-bottom: 50px; */
}

.study {
  font-size: 30px;
  padding-left: 350px;
  padding-top: 30px;
  justify-content: center;
}
